* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root{
    --color--background: #b2d365;
    --font--color: #03160c;
    --font-color--2: #1d623c;
    --color--3: #e9eee5;
    --color--4: #59826c;
    --color--5: #4c856c;
}

.background{
    background-color: #b2d365;
    width: 100vw;
    height: 5rem;

        & .text-title{
            color: #1d623c;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 28px;
            padding: 0.3rem;
        }
            & .header-div{
                display: flex;
                justify-content: space-between;
                padding: 0.8rem;
            
                /* ===aqui vai ser um bot達o de dropdown, aqueles de menu=== */
                    & a{
                        display: flex;
                        overflow:visible;
                        text-align: center;
                        color: #03160c;
                        font-size: 14px;
                    }
                /* ===aqui vai ser um bot達o de dropdown, aqueles de menu=== */
            }
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 2rem;

    & picture > img{
        width: 25rem;
        height: 26rem;
    }

        & .sidebar-content{
            display: flex;
            
            gap: 0.2rem;
            justify-content: center;
            flex-flow: column wrap;
            
            & .cards-links{
                text-align: center;
                display: grid;
                gap: 0.2rem;
                padding: 0.6rem;
                    /* ===quero organizar melhor isso, ainda n達o sei como=== */
                    & a{
                        color: #1d623c;
                    }
                    /* ===quero organizar melhor isso, ainda n達o sei como=== */
            }

            

        & img{
            border-radius: 0.3rem;
            width: 10rem;
            height: 10rem;
        }
    }

}

