* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root{
    --color--background: #b2d365;
    --font--color: #03160c;
    --color--2: #1d623c;
    --color--3: #e9eee5;
    --color--two: #59826c;
    --color--two: #4c856c;
}

.background{
    background-color: #b2d365;
    width: 100vw;
    height: 5rem;
    color: var(--color--2);

    & h2{
        padding: 0.7rem;
    }
    & .navbar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    /* ===aqui vai ser um bot達o de dropdown, aqueles de menu=== */
    & a{
        text-align: center;
        color: var(--color--background);
        font-size: 18px;
    }
    /* ===aqui vai ser um bot達o de dropdown, aqueles de menu=== */
}

.main-content{
    display: flex;
    justify-content: center;

    & picture{

        & img{
            width: 40rem;
            height: 40rem;
        }
    }
    & .sidebar-content{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        justify-content: center;

        /* ===quero organizar melhor isso, ainda n達o sei como=== */
        & a{
            text-align: center;
            color: var(--color--background);
            font-size: 20px;
        }
        /* ===quero organizar melhor isso, ainda n達o sei como=== */

            & .solicitacoes{
                display: grid;
                gap: 0.2rem;
            }

                & .espera{
                    display: grid;
                    gap: 0.2rem;
                }

            & .realizados{
                display: grid;
                gap: 0.2rem;
            }

        & img{
            border-radius: 0.3rem;
            width: 10rem;
            height: 10rem;
        }
    }

}

